@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
@layer base {

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --background: oklch(100% 0 0);
    --foreground: oklch(9.8% 0.024 240);
    
    --secondary: oklch(0% 0 0);
    --secondary-foreground: oklch(100% 0 0);

    --muted: oklch(96.1% 0 0);
    --muted-foreground: oklch(45.1% 0 0);

    --accent: oklch(95.9% 0.012 240);
    --accent-foreground: oklch(10% 0.015 240);

    --border: oklch(90% 0.015 240);
    --input: oklch(90% 0.015 240);

    --ring: oklch(10% 0.015 240);
    --radius: 0.625rem;

    --primary-100: oklch(85% 0.189 257);
    --primary: oklch(57% 0.185 257);
    --primary-300: oklch(25% 0.185 257);
    --primary-foreground: oklch(98% 0.04 210);

    --success-100: oklch(80% 0.12 148);
    --success: oklch(46% 0.12 148);
    --success-300: oklch(10% 0.12 148);

    --destructive-100: oklch(90% 0.211 0);
    --destructive: oklch(60.2% 0.211 0);
    --destructive-300: oklch(40% 0.211 0);
    
    --warning-100: oklch(93.92% 0.234 51.72);
    --warning: oklch(53% 0.24 47);
    --warning-300: oklch(31% 0.2 28);

    --add-button-shadow: 0px 0px 0px 6px oklch(from var(--primary-100) l c h / 1);

    --light-blue: oklch(70% 0.04 214);
    --chart-1: oklch(61% 0.19 12);
    --chart-2: oklch(39% 0.145 173);
    --chart-3: oklch(24% 0.092 197);
    --chart-4: oklch(66% 0.185 43);
    --chart-5: oklch(67% 0.218 27);
    
    --sidebar-background: oklch(99% 0 0);
    --sidebar-foreground: oklch(26.1% 0.013 240);
    --sidebar-primary: oklch(57% 0.185 257);
    --sidebar-primary-foreground: oklch(98% 0 0);
    --sidebar-accent: oklch(95.9% 0.012 240);
    --sidebar-accent-foreground: oklch(10% 0.015 240);
    --sidebar-border: oklch(91% 0.032 220);
    --sidebar-ring: oklch(59.8% 0.228 217.2);
  }

  .dark {
    --background: oklch(12% 0.036 210);
    --foreground: oklch(90% 0.075 210);

    --muted: oklch(28% 0.036 210);
    --muted-foreground: oklch(60% 0.025 210);

    --secondary: oklch(100% 0 0);
    --secondary-foreground: oklch(0% 0 0);

    --accent: oklch(25% 0.087 210);
    --accent-foreground: oklch(95% 0.225 210);

    --primary-100: oklch(40% 0.2 210);
    --primary: oklch(50% 0.225 210);
    --primary-300: oklch(85% 0.25 210);
    --primary-foreground: oklch(98% 0.225 210);

    --success-100: oklch(40% 0.15 140);
    --success: oklch(50% 0.2 140);
    --success-300: oklch(85% 0.225 140);

    --destructive-100: oklch(38% 0.175 0);
    --destructive: oklch(50% 0.2 0);
    --destructive-300: oklch(88% 0.213 0);

    --warning-100: oklch(50% 0.225 40);
    --warning: oklch(45% 0.25 40);
    --warning-300: oklch(30% 0.25 40);

    --border: oklch(25% 0.036 210);
    --input: oklch(22% 0.036 210);

    --ring: oklch(60% 0.225 210);
    --radius: 0.625rem;

    --add-button-shadow: 0 0 0 6px oklch(from var(--primary-100) l c h / 0.4);

    --chart-1: oklch(55% 0.213 210);
    --chart-2: oklch(50% 0.2 160);
    --chart-3: oklch(55% 0.225 35);
    --chart-4: oklch(65% 0.188 280);
    --chart-5: oklch(60% 0.2 340);

    --sidebar-background: oklch(10% 0.036 210);
    --sidebar-foreground: oklch(85% 0.05 210);
    --sidebar-primary: oklch(65% 0.213 210);
    --sidebar-primary-foreground: oklch(98% 0.225 210);
    --sidebar-accent: oklch(18% 0.063 210);
    --sidebar-accent-foreground: oklch(90% 0.075 210);
    --sidebar-border: oklch(22% 0.036 210);
    --sidebar-ring: oklch(70% 0.225 210);
  }
}

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.react-flow {
  --xy-edge-stroke-selected-default: #b1b1b7 !important;
  --node-boxshadow-selected-default: 0 0 0 0 #b1b1b7 !important;
  --selection-border-default: 0px solid #b1b1b7 !important;
  --node-border-default: 0px solid #b1b1b7 !important;
  --xy-selection-border-default: 1px dotted var(--primary-300) !important;
  --xy-selection-background-color-default: oklch(from var(--primary-100) l c h / 0.25) !important;
}

.react-flow__pane.selection,
.react-flow__nodesselection-rect {
  cursor: default !important;
}

.react-flow__edge.selectable>path {
  /* If necessary, add !important to the rule */
  pointer-events: none !important;
}

/* This is a hack to fix the issue with the pointer events being set to none when the vaul drawer is open */
body {
  pointer-events: auto !important;
}
